img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
}
/** 사진을 배경이미지로 넣고싶을때 사용할수있는 설정
opacity는 취향대로 하고, 
z-index는 text의 z-index보다 낮으면 뒷배경으로 설정된다.
**/